<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kugou.dao.SongDao">
	<sql id="allsong">
		select
		SongID,SongName,SongSinger,SongImg,SongWords,SongURL,AreaID,SongLRC
	</sql>

	<sql id="allsonginfo">
		select s.SongID ,s.SongName from

	</sql>
	<resultMap type="Song" id="SongResultMap">
		<result column="SongID" property="SongID" />
		<result column="SongName" property="SongName" />
		<result column="SongSinger" property="SongSinger" />
		<result column="SongImg" property="SongImg" />
		<result column="SongWords" property="SongWords" />
		<result column="SongURL" property="SongURL" />
		<result column="SongLRC" property="SongLRC" />
	</resultMap>
	<!-- 查询音乐盛典 -->
	<select id="selectAllSongRadio" resultMap="SongResultMap">
		<include refid="allsong" />
		from song where AreaID=11
	</select>

	<!-- 查询热榜Top10 -->
	<select id="selectAllSongHeat" resultMap="SongResultMap">
		<include refid="allsong" />
		from song where AreaID=9
	</select>

	<!-- 查询最新歌曲 -->
	<select id="selectAllSong" resultMap="SongResultMap">
		<include refid="allsong" />
		from song where AreaID=10
	</select>

	<!-- 查询原创和美女 -->
	<select id="selectAllSongOriginal" resultMap="SongResultMap">
		<include refid="allsong" />
		from song where AreaID=12
	</select>

	<!-- 查询MV热播 -->
	<select id="selectAllSongMV" resultMap="SongResultMap">
		<include refid="allsong" />
		from song where AreaID=14
	</select>

	<!-- 搜索查询 -->
	<select id="selectAllSongInfo" resultMap="SongResultMap">
		<include refid="allsong" />
		from Song
	</select>

	<!-- 表记录总行数 -->
	<select id="iTotalRecords" resultType="java.lang.Integer">
		select count(SongID) from song
		<where>
			<if test="sSearch != null ">
				SongName like CONCAT('%',#{sSearch,jdbcType=VARCHAR},'%' )
			</if>
		</where>
	</select>

	<!-- 表搜索记录总行数 -->
	<select id="iTotalDisplayRecords" resultType="java.lang.Integer">
		select count(s.SongID) from (select
		SongID,SongName,SongSinger,SongImg,SongWords,SongURL,AreaID from Song
		where SongName like CONCAT('%','${SongName}','%') )as s
		<if test="sSearch != null">
			where SongName like CONCAT('%',#{sSearch,jdbcType=VARCHAR},'%' )
		</if>
	</select>

	<!-- datatables分页查询 -->
	<select id="selectForSearch" resultMap="SongResultMap">
		select s.SongID ,s.SongName from(select
		SongID,SongName,SongSinger,SongImg,SongWords,SongURL,AreaID from Song
		where SongName like CONCAT('%','${SongName}','%') )as s
		<if test="sSearch != null ">
			where SongName like CONCAT('%',#{sSearch,jdbcType=VARCHAR},'%' )
		</if>
		<if test="asc != null ">
			order by ${asc} asc
		</if>
		<if test="desc != null ">
			order by ${desc} desc
		</if>
		<if test="iDisplayStart != null">
			limit
			#{iDisplayStart,jdbcType=INTEGER},#{pageDisplayLength,jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 根据id查询播放 -->
	<select id="selectSongById" resultMap="SongResultMap" resultType="java.lang.Integer">
		<include refid="allsong" />
		from song where SongID=#{id}
	</select>
	
</mapper>